/* *{
    background-color: beige;
} */

.Youtube::before{
    content: "";
    background: url(https://akm-img-a-in.tosshub.com/businesstoday/images/story/202204/youtube-1200-sixteen_nine.jpg?size=948:533) no-repeat center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    top: 0px;
    left: 0px;
}

.heading{
    
    text-align: center;
    color: black;
    /* font-size: larger; */
    font-family: 'Playfair Display', serif;
    
}

.text1{
    color: black;
}

.desc{
    color: black;
}

.box1{
    margin: auto;
    max-width: 970px;
    text-align: center;
    font-size: larger;
    padding-top: 20px;
}

.testyt{
    border: 2px solid black;
    display: flex;
    box-sizing: border-box;
    width: 1000px;
    height: 500px;
    align-items: center;
    justify-content: center;
    margin: auto;
    box-shadow: 5px 8px 5px grey;
}

.box2{
    text-align: center;
    width: 50%;
    /* height: 200px; */
    border-right: 2px dotted black;
    
}
.box2 h3{
    position: sticky;
}

.box3{
    text-align: center;
    width: 50%;
    height: 390px;
}

form{
    position: sticky;
    
}

.btn{
    background-color: black;
    color: white;
    margin-top: 10px;
}

.btn:hover{
    scale: 105%;
    background-color: red;
    color: black;
}

.result{
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}


textarea{
    height: 100%;
}